table{
    border: 1px solid black;
    width: 100%;
    text-align: left;
    font-size: xx-large;
    margin-top: 3%;
}
th{
    border: 1px solid black;
}

tr{
    border: 1px solid black;
}
td{
    border: 1px solid black;
}

