fieldset{
    width: 100%; 
    border-color: gray;
}

body{
    text-align: left;
    padding-left: 40%;
    padding-right: 40%;
    padding-top: 20%;
}

table{
    border: 1px solid black;
}
th{
    border: 1px solid black;
}

tr{
    border: 1px solid black;
}
td{
    border: 1px solid black;
}
