* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.b1 {
    background-image: url(../assets/images/Psycho.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top;
}

.d1 {
    background-image: url(../assets/images/Patrick.png);
    background-repeat: no-repeat;
    height: 600px;
    font-size: xx-large;
    font-weight: 800;
    font-family: fantasy;
    text-align: center;
    margin: 0 auto;
    background-position: center top;
    background-size: 600px;
    color: blanchedalmond;
}
