@font-face {
    font-family: "ALK";
    src: url(./fonts/alk-sanet.ttf);
}

@font-face {
    font-family: "BPG";
    src: url(./fonts/bpg_glaho.ttf);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

main{
    text-align: center;
}
li{
    text-align: left;
    font-family: "ALK", Georgia, 'Times New Roman', Times, serif;
}
p{
    font-family: "ALK";
    margin: 50px 150px 50px 150px;
    padding: 5%;
}
img{
    border-radius: 10%;
}

h1, h2, h3{
    font-size: xx-large;
    font-family: "ALK";
}